<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd 
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd ">
	
	 <!-- 开启注解扫描 -->
    <context:component-scan base-package="com.test.service"/>
	
	<context:component-scan base-package="com.test.service.impl"/>
	<!-- 读取 db.properties -->
	<context:property-placeholder location="classpath:source/db.properties"/>
	
	<!-- 配置数据源 -->
	<bean id="dataSource"
			class="org.apache.commons.dbcp2.BasicDataSource">
			<!-- 数据库驱动 -->		
			<property name="driverClassName" value="${jdbc.driver}"/>
			<property name="url" value="${jdbc.url}"/>
			<property name="username" value="${jdbc.username}"/>
			<property name="password" value="${jdbc.password}"/>
			<property name="maxTotal" value="${jdbc.maxTotal}"/>			
	</bean>
	<!-- 事务管理器，依赖于数据源 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- 开启事务注解 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- 配置MyBatis 工厂SqlSessionFactory -->
	<bean id="sqlSessionFactory"
				class="org.mybatis.spring.SqlSessionFactoryBean">
				<!-- 注入数据源 -->
				<property name="dataSource" ref="dataSource"></property>
				<!-- 配置mybatis核心配置文件 -->
				<property name="configLocation" value="classpath:source/mybatis-config.xml"></property>
	
	</bean>
	<!-- mapper扫描。实现mabatis动态代理 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	<!-- 注入sqlSessionFactory -->
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
		<property name="basePackage" value="com.test.dao"></property>
	</bean>
	
	
	
	
	
	
</beans>